
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #333;
}

.slideshow-container {
    position: relative;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slide {
    display: none;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.slide:hover img {
    transform: scale(1.05); /* Zoom effect on hover */
}

.caption {
    position: absolute;
    bottom: 10%;
    left: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.fade {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0.4; } 
    to { opacity: 1; }
}


.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s;
}

.dot.active {
    background-color: #717171;
}
